<%= form_for(post_comment, remote: true) do |f| %>
  <% if post_comment.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% post_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :post_id %>
  </div>
  <div class="field">
    <%= f.text_field :comment, class: 'form-control' %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit 'Add comment', class: 'btn btn-primary '%>
  </div>
<% end %>
