<div class="row">
  <div class="col-md-9 col-xs-9">
    <h4>Add a comment</h4>
  </div>
  <div class="col-md-3 col-xs-3 text-right">
    <span class="close" data-dismiss="modal" aria-label="Close">×</span>
  </div>
</div>
<%= render 'form', post_comment: post_comment%>

