<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'omb_loginForm'}) do |f| %>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>
    <span class="help-block"></span>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>

    <br/>
    <%= f.submit "Log in", class: 'btn btn-lg btn-primary btn-block' %>
<% end %>
<div class="row omb_row-sm-offset-3">
  <div class="col-xs-12 col-sm-9">
    <p class="omb_forgotPwd">
      <a href="/users/sign_up">Create a new account</a>
    </p>
  </div>
</div>

