<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-lg-12">
      <div class="main-box no-header clearfix">
        <div class="main-box-body clearfix">
          <div class="table-responsive">
            <table class="table user-list">
              <thead>
              <tr>
                <th><span>User</span></th>
                <th><span>Email</span></th>
                <th><span>Created</span></th>
                <th><span>Following</span></th>
                <th><span>Followers</span></th>
                <th>&nbsp;</th>
              </tr>
              </thead>
              <tbody>
              <% @users.each do |user| %>
                  <tr>
                    <td>
                      <img src="<%= user.user_picture %>" alt="" style="width:10%">
                      <%= link_to user.username, profile_path(user.id), class: 'user-link' %>
                    </td>
                    <td>
                      <a href="#"><%= user.email %></a>
                    </td>
                    <td><%= user.created_at %></td>
                    <td><%= user.following.size %></td>
                    <td><%= user.followers.size %></td>
                    <td style="width: 20%;">
                      <% if user == current_user %>
                          <%=  link_to 'Your Profile', profile_path(user),
                                       class: 'btn btn-default'  %>
                      <% else %>
                          <% if current_user_is_following(current_user.id, user.id) %>
                              <%= link_to 'Unfollow', unfollow_user_path(user),
                                          class: 'btn btn-danger',
                                          id: 'unfollow-button',
                                          method: :post %>
                          <% else %>
                              <%= link_to 'Follow', follow_user_path(user),
                                          class: 'btn btn-primary',
                                          id: 'follow-button',
                                          method: :post %>
                          <% end %>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>