<%= form_for post, html: { multipart: true } do |f| %>
    <% if post.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>
    </div>
    <br/>
    <div class="actions">
      <%= f.submit 'Create post', class: 'form-control btn btn-primary' %>
    </div>
<% end %>
