<% if @posts.size.to_i > 0 %>
    <% @posts.each do |post| %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a class="lightbox" href="<%= post_path(post) %>">
              <%= image_tag post.image.url(:medium) %>
            </a>
            <div class="caption">
              <h3>
                <%= post.description %>
                <% if current_user_has_liked(current_user.id, post.id) %>
                    <%= link_to unlike_post_path(post), method: :post do %>
                        <i class="fa fa-heart red-symbol"></i></a>
                    <% end %>
                <% else %>
                    <%= link_to like_post_path(post), method: :post do %>
                        <i class="fa fa-heart-o grey-symbol"></i></a>
                    <% end %>
                <% end %>
                <%= link_to new_post_comments_path(post.id), data: {toggle: 'modal', target: '#comment_picture', id: post.id}, remote: true do %>
                    <i class="fa fa-comment-o"></i>
                <% end %>
              </h3>
              <p><%= pluralize(post.post_likes.size, 'like') + ' - ' + pluralize(post.post_comments.size, 'comment') %></p>
              <p>Uploaded <%= time_ago_in_words(post.created_at) %> ago by: <%= link_to post.user.username, profile_path(post.user) %></p>
            </div>
          </div>
        </div>
    <% end %>
<% else %>
    <h1>No photos to show!</h1>
<% end %>
