<div class="container gallery-container">

  <h1>Explore photos</h1>

  <p class="page-description text-center">The list of photos</p>

  <div class="tz-gallery">
    <div class="row">
      <%= form_tag('/explore/posts', method: 'get') do %>
          <div class="col-lg-3" style="float:right; margin-bottom: 15px; margin-right: 15px;">
            <div class="input-group">

              <input type="text" class="form-control" name="q" placeholder="Search for..." value="<%= params[:q] %>">
              <span class="input-group-btn">
                <%= submit_tag 'Search', class: 'btn btn-secondary' %>
          </span>
            </div>
          </div>
      <% end %>
    </div>
    <div class="row">
      <%= render 'list' %>
    </div>

  </div>

</div>
<div class="modal fade" id="comment_picture" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="comment_form_container">
        </div>
      </div>
    </div>
  </div>
</div>

