<div class="container gallery-container">

  <h1>Timeline</h1>

  <p class="page-description text-center">The list of images</p>

  <div class="tz-gallery">

    <div class="row">
      <%= render 'list' %>

    </div>

  </div>

</div>
<div class="modal fade" id="comment_picture" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="comment_form_container">
        </div>
      </div>
    </div>
  </div>
</div>

