<div class="row">
  <div class="center-block" style="width:700px; ">
    <h3><%= @post.description %></h3>
    <%= image_tag @post.image, style: 'max-width: 700px' %>
    <p><%= @post.get_likes_list %></p>
  </div>
  <div class="center-block" style="width:700px; margin-top: 25px">
    <section class="comments">
      <% @post.post_comments.each do |comment| %>
      <article class="comment">
        <a class="comment-img" href="#non">
          <%= image_tag comment.user.user_picture %>
          </a>
        <div class="comment-body">
          <div class="text">
            <p><%= comment.comment %></p>
          </div>

            <p class="attribution">by <a href="#non"><%= comment.user.username %></a> <%= time_ago_in_words(comment.created_at) %> ago
              <% if comment.user_id == current_user.id %>
                <%= link_to '<i class="fa fa-trash"></i>'.html_safe, comment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'right' %>
              <% end %>
            </p>
        </div>
      </article>
      <% end %>
    </section>
  </div>
</div>