.stats {
  text-align:center;
  text-shadow:1px 1px 0px #fff;
  margin-top:25px;

}
.stats li{
  width:125px;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.stats span{
  font-family:Helvetica;
  font-weight:bold;
  text-shadow:1px 1px 0px #fff;
  font-size:4em;

  display:block;
  line-height:1em;
}

.unstyled{
  margin-left: 0;
}

.unstyled li{
  list-style: none;
  margin-left: -35px;
}

/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .profile img{
    width:75px;
  }
  .profile h2{
    font-size:1.7em;
  }
  .stats span{
    font-size: 2em;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
}