<div class="container profile">
  <div class="row">
    <div class="col-md-12">
      <div class="well well-small clearfix">
        <div class="row-fluid">
          <div class="col-md-1">
          </div>
          <div class="col-md-5">
            <h2>
              <%= @user.username %>
              <% unless current_user.id == @user.id %>
                  <% if current_user_is_following(current_user.id, @user.id) %>
                      <%= link_to 'Unfollow', unfollow_user_path(@user),
                                  class: 'btn btn-danger',
                                  id: 'unfollow-button',
                                  method: :post %>
                  <% else %>
                      <%= link_to 'Follow', follow_user_path(@user),
                                  class: 'btn btn-primary',
                                  id: 'follow-button',
                                  method: :post %>
                  <% end %>
              <% end %>
            </h2>
            <ul class="unstyled">
              <li><i class="fa fa-envelope"></i> <%= @user.email %></li>
              <% if current_user.id == @user.id %>
                  <li>
                    <%= link_to 'Upload new picture', new_post_path, data: {toggle: 'modal', target: '#post_picture'}, remote: true, class: 'btn btn-primary' %>
                  </li>
              <% end %>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="inline stats">
              <li>
                <span><%= @user.followers.size %></span>
                Followers
              </li>
              <li>
                <span><%= @user.following.size %></span>
                Following
              </li>
              <li>
                <span><%= @user.posts.size %></span>
                Photos
              </li>
            </ul>
            <div><!--/span6-->
            </div><!--/row-->
          </div>
          <!--Body content-->
        </div>
      </div>

      <div class="well clearfix">
        <div class="tz-gallery">
          <div class="row">
            <%= render 'posts/list' %>
          </div>
        </div>
      </div>
      <div class="well clearfix">
        <div class="tz-gallery">
          <h2>Followers</h2>
          <div class="row" style="margin-left: 20px">
            <% @user.followers.each do |follower| %>
                <h4><%= follower.username %></h4>
            <% end %>
          </div>
        </div>
      </div>
      <div class="well clearfix">
        <div class="tz-gallery">
          <h2>Following</h2>
          <div class="row" style="margin-left: 20px">
            <% @user.following.each do |following| %>
                <h4><%= following.username %></h4>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="post_picture" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="post_form_container">
        </div>
      </div>
    </div>
  </div>
</div>