<!DOCTYPE html>
<html>
  <head>
    <title>Povio Test</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Povio Test</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Timeline', posts_path, class: current_class?(posts_path) %></li>
          <li><%= link_to 'Explore', posts_explore_path, class:  current_class?(posts_path) %></li>
          <li><%= link_to 'People', follows_path, class:  current_class?(follows_path) %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to current_user.username, profile_path(current_user) %>
          </li>
          <li>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
    <%= yield %>
  </body>
</html>
<div class="modal fade" id="comment_picture" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="comment_form_container">
        </div>
      </div>
    </div>
  </div>
</div>

