<!DOCTYPE html>
<html>
<head>
  <title>Povio Test</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
</head>

<body>
<div class="container">


  <div class="omb_login">
    <h3 class="omb_authTitle"><%= link_to 'Login', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %></h3>
    <div class="row omb_row-sm-offset-3 omb_socialButtons">
      <div class="col-xs-12 col-sm-6">
        <%= link_to user_facebook_omniauth_authorize_path, class: 'btn btn-lg btn-block omb_btn-facebook' do %>
          <i class="fa fa-facebook visible-xs"></i>
          <span class="hidden-xs">Facebook</span>
        <% end %>
      </div>
    </div>

    <div class="row omb_row-sm-offset-3 omb_loginOr">
      <div class="col-xs-12 col-sm-6">
        <hr class="omb_hrOr">
        <span class="omb_spanOr">or</span>
      </div>
    </div>

    <div class="row omb_row-sm-offset-3">
      <div class="col-xs-12 col-sm-6">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>